.profile-container {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height)); /* Ajusta la altura para evitar scroll */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: cover; 
  border-radius: 50%; 
  margin-bottom: 1rem; 
}
