.navbar {
  padding-top: 0.2rem !important; 
  padding-bottom: 0.2rem !important;
}

.navbar-title {
  font-size: 1rem;
  color: white;
  margin: 0;
  padding: 0;
}

.total-button {
  margin-left: auto;
  color: rgb(196, 246, 255) !important;
  border: 1px solid rgb(70, 121, 229) !important;
  width: auto !important;
}

.navbar .nav-link {
  border: 1px solid white;
  color: white;
  padding: 0.3rem;
  border-radius: 4px;
  margin: 0.3rem;
  font-size: 0.8rem;
  display: inline-block;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-link:active {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar .nav-link {
    width: 30%; 
    text-align: center; 
    margin: 0.2rem 0; 
  }
}
